<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ProyectoDB.Properties.Settings.SturismoDBConnectionString"
		  connectionString="Data Source=LAPTOP-TNM7E1N7\SQLEXPRESS;Initial Catalog=SturismoDB;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="connectionString" value="Data Source=LAPTOP-TNM7E1N7\SQLEXPRESS;Initial Catalog=SturismoDB;Integrated Security=True"/>
	</appSettings>
</configuration>