<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	<appSettings>
		<!--<add name="sql" connectionString="server=LAPTOP-TNM7E1N7\SQLEXPRESS; integrated security=true;database=SturismoDB"/>-->
		<add key="sql1" value="Data Source=LAPTOP-TNM7E1N7\SQLEXPRESS;Initial Catalog=SturismoDB;Integrated Security=True"/>
		<add key="ConnectionString" value="Data Source=DESKTOP-JRNSKO2\SQLEXPRESS;Initial Catalog=GuardianEpmsTest;Integrated Security=True;" />
	</appSettings>
</configuration>